# Ignore log files.
*.log

# Ignore swap files.
*.swp

# Ignore pid files.
*.pid

# Ignore mp3 files.
*.mp3

# Ignore pid filed.
*.pid

# Ignore "temporary" directory.
temporary/

# Ignore directory where binaries are stored.
bin/

# Ignore directory where objects are stored.
objects/

# Ignore object files.
*.o

# Ignore "fuse_hidden" files
.fuse_hiddden*
