[Unit]
Description=Bluetooth pairing service
After=bluetooth.service

[Service]
Type=simple
ExecStart=<SYSTEM_SERVICES_SCRIPTS_DIRECTORY>bluetooth_pairing.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
