[Unit]
Description=Bluetooth pairing service
After=bluetooth.service

[Service]
Type=simple
ExecStart=<SYSTEM_SERVICE_SCRIPTS_DIRECTORY>bluetooth-pairing.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
