[Unit]
Description=Clean up Anna directories

[Service]
Type=oneshot
ExecStart=<SYSTEM_SERVICES_SCRIPTS_DIRECTORY>clean_up.sh
# User=pi
# Group=pi

[Install]
WantedBy=multi-user.target
