[Unit]
Description=Anna - Communication Service
After=bluetooth-pairing.service

[Service]
Type=simple
ExecStart=<SYSTEM_SERVICES_SCRIPTS_DIRECTORY>communication.sh
Restart=on-failure
# User=pi
# Group=pi

[Install]
WantedBy=multi-user.target
