[Unit]
Description=Bluetooth pairing service
After=bluetooth.service

[Service]
Type=simple
ExecStart=<installation_directory>scripts/bluetooth-pairing.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
