[Unit]
Description=Clean up Anna directories
After=?

[Service]
Type=simple
ExecStart=<installation_directory>scripts/clean_up_directories.sh
Restart=?

[Install]
WantedBy=multi-user.target
